{% extends "index.html" %}

{% load staticfiles i18n %}

{% block 'content' %}
  <div class="partners">
    <h1>{% trans "Our partners" %}</h1>
    <div class="row">
      <div class="col-md-12">
        <div class="partner">
          <div class="partner-logo" style="background-image: url('{% static 'images/logo-fsfe.png' %}')"></div>
          <div class="partner-description">
            <h2 class="partner-title"><a href="https://fsfe.org">FSFE</a></h2>
            <div class="partner-text">
              Free Software Foundation Europe e.V.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="partner">
          <div class="partner-logo" style="background-image: url('{% static 'images/logo-bof.png' %}')"></div>
          <div class="partner-description">
            <h2 class="partner-title"><a href="https://bof.nl/">Bits of Freedom</a></h2>
            <div class="partner-text">
              Bits of Freedom
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="partner">
          <div class="partner-logo" style="background-image: url('{% static 'images/logo-oseno.png' %}')"></div>
          <div class="partner-description">
            <h2 class="partner-title"><a href="https://oseno.nl/">OSENO</a></h2>
            <div class="partner-text">
              Open Source & Overheid
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="partner">
          <div class="partner-logo" style="background-image: url('{% static 'images/logo-dinl.png' %}')"></div>
          <div class="partner-description">
            <h2 class="partner-title"><a href="https://dinl.nl/">DINL</a></h2>
            <div class="partner-text">
              Stichting Digitale Infrastructuur Nederland
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="partner">
          <div class="partner-logo" style="background-image: url('{% static 'images/logo-amsix.png' %}')"></div>
          <div class="partner-description">
            <h2 class="partner-title"><a href="https://ams-ix.net/">AMS-IX</a></h2>
            <div class="partner-text">
              amsterdam internet exchange
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="partner">
          <div class="partner-logo" style="background-image: url('{% static 'images/logo-dda.png' %}')"></div>
          <div class="partner-description">
            <h2 class="partner-title"><a href="http://dutchdatacenters.nl/">DDA</a></h2>
            <div class="partner-text">
              Dutch Datacenter Association
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="partner">
           <div class="partner-logo" style="background-image: url('{% static 'images/logo-dhpa.png' %}')"></div>
           <div class="partner-description">
            <h2 class="partner-title"><a href="https://dhpa.nl/">DHPA</a></h2>
            <div class="partner-text">
              Dutch Hosting Provider Association
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="partner">
          <div class="partner-logo" style="background-image: url('{% static 'images/logo-ispconnect.png' %}')"></div>
          <div class="partner-description">
            <h2 class="partner-title"><a href="https://ispconnect.nl/">ISPConnect</a></h2>
            <div class="partner-text">
              ISPConnect
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="partner">
          <div class="partner-logo" style="background-image: url('{% static 'images/logo-nlict.png' %}')"></div>
          <div class="partner-description">
            <h2 class="partner-title"><a href="https://nederlandict.nl/">Nederland ICT</a></h2>
            <div class="partner-text">
              Nederland ICT
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="partner">
          <div class="partner-logo" style="background-image: url('{% static 'images/logo-nlnet.png' %}')"></div>
          <div class="partner-description">
            <h2 class="partner-title"><a href="https://nlnet.nl">NLnet Foundation</a></h2>
            <div class="partner-text">
              NLnet Foundation
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="partner">
          <div class="partner-logo" style="background-image: url('{% static 'images/logo-sidn.png' %}')"></div>
          <div class="partner-description">
            <h2 class="partner-title"><a href="https://sidn.nl">SIDN</a></h2>
            <div class="partner-text">
              SIDN
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="partner">
          <div class="partner-logo" style="background-image: url('{% static 'images/logo-surf.png' %}')"></div>
          <div class="partner-description">
            <h2 class="partner-title"><a href="https://surf.nl/">SURF</a></h2>
            <div class="partner-text">
              SURF
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="partner">
          <div class="partner-logo" style="background-image: url('{% static 'images/logo-vvregistrars.png' %}')"></div>
          <div class="partner-description">
            <h2 class="partner-title"><a href="https://www.verenigingvanregistrars.nl/">VvR</a></h2>
            <div class="partner-text">
              Vereniging van Registrars
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block 'scripts' %}
  <script src="{% static 'js/partners.js' %}"></script>
{% endblock %}
